{{#each everyBlog as |eachBlogs|}}
{{#each eachBlogs.blogs as | blogPosts |}}
<div class="card">
  <div class="card-body">
    <h5 class="card-text">{{blogPosts.blogTitle}} </h5>
    <p class="card-text">{{blogPosts.blogPost}}</p>
    <p class=" text-end fst-italic"> Posted by {{eachBlogs.username}}</p>
  </div>
</div>
{{/each}}
{{/each}}