<form class=" w-50">
  <div class="m-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="m-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="passwordInput">
  </div>
  <button type="submit" class="btn btn-primary m-3" id="signUpBtn">Sign Up</button>
</form>

<script src="./../assets/js/signup.js"></script>