<form class=" w-50">
   <div class="m-3">
    <label for="username" class="form-label">Username</label>
    <input class="form-control" id="usernameInput">
  </div>
  <div class="m-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="passwordInput">
  </div>
  <button type="submit" class="btn btn-primary m-3" id="signInBtn">Sign In</button>
  <h6> <a class="text-dark nav-link" href="/api/login/signup">First time user? Sign up here!</a></h6>
</form>

<script src="./../assets/js/signin.js"></script>