<div class="card" style="width: 25rem;">
    <img src="/assets/css/miss you.gif" class="card-img-top" alt="We'll miss you">
    <div class="card-body">
        <button type="button" class="btn btn-primary btn-lg" id ="logoutYes">Yes, log me out </button>
        <button type="button" class="btn btn-primary btn-lg" id ="logoutNo">No, keep me logged in </button>
    </div>
</div>

<script src="./../../assets/js/logout.js"></script>